*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
.first, .second, .third{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
input, select{
    margin-left: 10px;
}